build/
./build
build
build/bin/ray
build/bin/ray
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/TargetDirectories.txt
build/Makefile
build/src/cmake_install.cmake
build/src/CMakeFiles/CMakeDirectoryInformation.cmake
build/src/CMakeFiles/ray.dir/build.make
build/src/CMakeFiles/ray.dir/cmake_clean.cmake
build/src/CMakeFiles/ray.dir/depend.make
build/src/CMakeFiles/ray.dir/DependInfo.cmake
build/src/CMakeFiles/ray.dir/fileio/bitmap.cpp.o
build/src/CMakeFiles/ray.dir/fileio/buffer.cpp.o
build/src/CMakeFiles/ray.dir/fileio/images.cc.o
build/src/CMakeFiles/ray.dir/fileio/pngimage.cpp.o
build/src/CMakeFiles/ray.dir/flags.make
build/src/CMakeFiles/ray.dir/link.txt
build/src/CMakeFiles/ray.dir/main.cpp.o
build/src/CMakeFiles/ray.dir/parser/Parser.cpp.o
build/src/CMakeFiles/ray.dir/parser/ParserException.cpp.o
build/src/CMakeFiles/ray.dir/parser/Token.cpp.o
build/src/CMakeFiles/ray.dir/parser/Tokenizer.cpp.o
build/src/CMakeFiles/ray.dir/RayTracer.cpp.o
build/src/CMakeFiles/ray.dir/scene/bbox.cc.o
build/src/CMakeFiles/ray.dir/scene/camera.cpp.o
build/src/CMakeFiles/ray.dir/scene/cubeMap.cpp.o
build/src/CMakeFiles/ray.dir/scene/light.cpp.o
build/src/CMakeFiles/ray.dir/scene/material.cpp.o
build/src/CMakeFiles/ray.dir/scene/ray.cpp.o
build/src/CMakeFiles/ray.dir/scene/scene.cpp.o
build/src/CMakeFiles/ray.dir/SceneObjects/Box.cpp.o
build/src/CMakeFiles/ray.dir/SceneObjects/Cone.cpp.o
build/src/CMakeFiles/ray.dir/SceneObjects/Cylinder.cpp.o
build/src/CMakeFiles/ray.dir/SceneObjects/Sphere.cpp.o
build/src/CMakeFiles/ray.dir/SceneObjects/Square.cpp.o
build/src/CMakeFiles/ray.dir/SceneObjects/trimesh.cpp.o
build/src/CMakeFiles/ray.dir/ui/CommandLineUI.cpp.o
build/src/CMakeFiles/ray.dir/ui/CubeMapChooser.cxx.o
build/src/CMakeFiles/ray.dir/ui/debuggingView.cpp.o
build/src/CMakeFiles/ray.dir/ui/debuggingWindow.cxx.o
build/src/CMakeFiles/ray.dir/ui/glObjects.cpp.o
build/src/CMakeFiles/ray.dir/ui/GraphicalUI.cpp.o
build/src/CMakeFiles/ray.dir/ui/ModelerCamera.cpp.o
build/src/CMakeFiles/ray.dir/ui/TraceGLWindow.cpp.o
build/src/CMakeFiles/ray.dir/ui/TraceUI.cc.o
build/src/Makefile
